{% extends 'myapp/base.html' %}

{% block title %}Upadate{% endblock %}

{% block content %}
<h1 class="text-center font-semibold text-2xl uppercase bg-teal-500 w-1/2 mx-auto rounded-xl mb-5 py-3">Update Todo</h1>
<form action="{% url 'index' %}" method="post" class="flex flex-col justify-center items-center gap-4">
    {% csrf_token %}
    <div>
        <label for="title">Title</label><br>
        <input class="text-black w-[300px] rounded-lg p-2" type="text" id="title" name="title"
            value="{{ item.title }}">
    </div>
    <div>
        <label for="description">Description</label><br>
        <textarea class="text-black rounded-lg w-[300px] h-[200px] p-2" id="description"
            name="description">{{ item.description }}</textarea>
    </div>
    <div class="flex gap-4">
        <input type="submit" value="Update" class="bg-yellow-500 rounded-lg px-6 py-1 text-black">
        <a href="{% url 'index' %}" class="bg-red-500 rounded-lg px-6 py-1 text-black">Cancel</a>
    </div>
</form>

{% endblock %}